# Instructions:
# - It should contain all the necessary environment variables for the frontend to run, including Firebase config paths, transcription server URLs, EmailJS config, default notification emails, Google Cloud configuration, and Hugging Face API token.
# - No spaces around the equal sign, and no quotes for values in .env files

# Firebase Admin Config
FIREBASE_ADMIN_TYPE=
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_PRIVATE_KEY_ID=
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_CLIENT_ID=
FIREBASE_ADMIN_AUTH_URI=
FIREBASE_ADMIN_TOKEN_URI=
FIREBASE_ADMIN_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_ADMIN_CLIENT_X509_CERT_URL=
FIREBASE_ADMIN_UNIVERSE_DOMAIN=

# Firebase Client Config
FIREBASE_CLIENT_API_KEY=
FIREBASE_CLIENT_AUTH_DOMAIN=
FIREBASE_CLIENT_PROJECT_ID=
FIREBASE_CLIENT_MESSAGING_SENDER_ID=
FIREBASE_CLIENT_APP_ID=
FIREBASE_CLIENT_STORAGE_BUCKET_SOURCE=
FIREBASE_CLIENT_STORAGE_BUCKET_DESTINATION=

# Frontend config
FRONTEND_HOST=
FRONTEND_PORT=
FRONTEND_SOURCE=
FRONTEND_FIREBASE_BUCKET=
#FRONTEND_SOURCE=local
#FRONTEND_LOCAL_ROOT=/home/lucar/Development/chiara-speech2text_data/test

# Model server config
MODEL_SERVER_HOST=
MODEL_SERVER_PORT=
MODEL_SERVER_WHISPER_MODEL_PATH=
MODEL_SERVER_FIREBASE_BUCKET=
MODEL_SERVER_LLM_MODEL=

# Model trainer config
TRAINER_FIREBASE_BUCKET=

# Hugging Face
HF_TOKEN=

# Google Cloud configuration
GCLOUD_PROJECT_ID=
GCLOUD_USER_ACCOUNT=
GCLOUD_LOCATION=
GCLOUD_REPO_NAME=
GCLOUD_PAGE_NAME=${GCLOUD_REPO_NAME}
GCLOUD_DESCRIPTION="${GCLOUD_REPO_NAME}_DockerRepo"